.Login {
  h1 {
    font-family: "Roboto";
    font-size: 31px;
    font-style: normal;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -0.01em;
    text-align: center;
  }
  p {
    font-family: "Roboto";
    font-size: 17px;
    font-style: normal;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
  }
  .login-img{
      height: 375px;
  }
}
